@import url(./util.css);

:root {
    --primary-color: #E89F71;
    --secondary-color: #FCF8F3;
    --gray-color: #898989;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-bg {
    background: var(--secondary-color);
}

.search-bar::placeholder {
    font-weight: 400;
    font-size: 1.125rem;
}

.header-sm-bg {
    background: #F9F1E7;
    width: 60%;
}

.carousel-indicators [data-bs-target] {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50% !important;
    background: #D8D8D8 !important;
    border: none !important;
}

.carousel-indicators .active {
    background: var(--primary-color) !important;
}

.carousel-control-next,
.carousel-control-prev {
    background: #f1caaf;
    border-radius: 50%;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-control-prev-icon {
    background-image: url(./../Img/homepage/prev.svg);
}

.carousel-control-next-icon {
    background-image: url(./../Img/homepage/next.svg);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 1rem;
    height: 1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    margin-top: 4rem;
    gap: 3rem;
    height: 40rem;
}

.sticky-header-box-top {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    left: 5rem;
}

.sticky-header-box-bottom {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    bottom: 3rem;
    right: 10rem;
    width: 18rem;
}

.header-shop-bttn:hover {
    background-color: #e09262;
}

.product-card {
    background-color: #F4F5F7;
    max-width: 285px;
    max-height: 446px;
}

.old-product-price {
    text-decoration-line: line-through;
    color: #B0B0B0;
}

.show-more-product-bttn {
    border: 2px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.inspo-sec-tittle {
    height: 40rem;
    max-width: 30rem;
    padding-left: 6rem;
}

.catagory-img-lg {
    position: absolute;
    left: 2rem;
    max-width: 21rem;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(31px);
    height: fit-content;
    padding: 0 1rem;
}

.catagory-img-sm {
    position: absolute;
    right: 1rem;
    max-width: 24rem;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(31px);
    height: fit-content;
    padding: 0 1rem;
}